<%= render 'layouts/header' %>
<div class = 'info'>
<h1>Welcome to Instagram</h1> 
<p>This is my test Rails application </p>
<button type="button" class="btn btn-success"><%= link_to "Sign Up!", new_user_path, class: "nav-link"%></button>
</div>